<li id="<%= dom_id activity %>">
  <article class="activity">
    <span class="activity-name">
      <%= activity.name.capitalize %>
    </span>

    <span class="activity-actions">
      <%= button_to "Delete",
        activity,
        method: :delete,
        class: "secondary outline",
        form: { data: { turbo_confirm: "Remove this activity?" } } %>
    </span>
  </article>
</li>
